webhook with append sheet.json
{
  "name": "webhook with append sheet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-sheets-demo",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "961c45d7-e67e-4c0b-b842-55af8bd4ca35",
      "name": "Webhook",
      "webhookId": "96cbda6a-8df3-4143-ae5f-5d117d8a0bc5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bc7a8e4-1e23-44c6-988f-5941ed32903f",
              "name": "Name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "ace0b52a-ce79-426f-8182-54ff784e8133",
              "name": "E-mail",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "3ce9a6e2-3dda-4d16-a5a4-de50aad6a0b9",
              "name": "Message",
              "value": "={{ $json.body.Message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "208a06ed-b929-474a-877a-4251109cb6d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sy4EjCQVia16lTdclqgC4CJU31Jsuls1I_YudI5ZVWo",
          "mode": "list",
          "cachedResultName": "post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sy4EjCQVia16lTdclqgC4CJU31Jsuls1I_YudI5ZVWo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sy4EjCQVia16lTdclqgC4CJU31Jsuls1I_YudI5ZVWo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "2291c969-bcc4-4dc5-a1bf-6a2e6eb59dc1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ObbT1Bv2Vfpy4R7l",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc2bf336-c82e-4e2a-a46a-1acc16ceabe0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec37d409862604d0262f64ac0e0777474559d40693efe5bae32d4b688b0de829"
  },
  "id": "dXJQqxQFbWFDXgw2",
  "tags": []
}